@charset "UTF-8";

/* 기본 스타일 제거 */
*{ margin: 0; padding: 0; box-sizing: border-box;}
li{list-style: none;}
a{text-decoration: none; color: inherit;}

/* 기본 폰트 */
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  src: url(/font/Pretendard-Regular.woff);
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  src: url(/font/Pretendard-Medium.woff);
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  src: url(/font/Pretendard-Bold.woff);
}

/* 공용 */

body{
  font-family: "Pretendard";
  line-height: 1.4;
  font-weight: 300;
  color: #333;
}

.inner{
  max-width: 1200px;
  margin: auto;
}