<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.common.company.recruit.skill.mapper.CommonCompanyRecruitSkillMapper">  

<insert id="setCommonCompanyRecruitSkill">
	  <foreach collection="checkedSkillList" item ="skill" 
         index      = "i"
         open       = "INSERT ALL"
         close      = "SELECT * FROM DUAL"
         separator  = " " >
        INTO  COMMON_COMPANY_RECRUIT_SKILL VALUES (
            ( SELECT NVL(MAX(COMMON_COMPANY_RECRUIT_SKILL_IDX), 0) FROM COMMON_COMPANY_RECRUIT_SKILL ) + #{i} + 1  
           , #{ skill.skill_idx }
         , #{ company_recruit_idx }  
        )
       </foreach>
</insert>
  
  
</mapper>

















