<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.company.mapper.CompanyUserMapper">

  <insert id="saveUser">
		INSERT INTO COMPANY_USERS   (
	    COMPANY_USER_IDX,
	    COMPANY_USER_ID,
	    COMPANY_USER_PASSWD,
	    COMPANY_USER_NAME,
	    COMPANY_PHONE,
	    COMPANY_NAME,
	    COMPANY_BCODE,
	    COMPANY_BOSS_NAME,
	    COMPANY_EMAIL,
	    COMPANY_USER_EMAIL,
	    COMPANY_ESTABLISH       	) 
		VALUES                      (
  	  COMPANY_USERS_SEQ.NEXTVAL,
      #{company_user_id},
      #{company_user_passwd},
      #{company_user_name},
      #{company_phone},
      #{company_name},
      #{company_bcode},
      #{company_boss_name},
      #{company_email},
      #{company_user_email},
      #{company_establish}     )
	</insert>
	
	<select id="login">
		SELECT * 
		FROM COMPANY_USERS 
		WHERE COMPANY_USER_ID = #{arg0} AND COMPANY_USER_PASSWD = #{arg1}
	</select>
	
	<select id="isUserIdDupCheck">
		SELECT *
		FROM COMPANY_USERS
		WHERE COMPANY_USER_ID = #{company_user_id}
	</select>
	
	<select id="getCompanyApplicationStatusIdxList">
	SELECT 
    COUNT(CASE WHEN A.application_status_idx = 1 THEN 1 END) AS application_status_idx1,
    COUNT(CASE WHEN A.application_status_idx = 2 THEN 1 END) AS application_status_idx2,
    COUNT(CASE WHEN A.application_status_idx = 3 THEN 1 END) AS application_status_idx3,
    COUNT(CASE WHEN A.application_status_idx = 4 THEN 1 END) AS application_status_idx4
FROM
    company_recruit CR
LEFT JOIN
    applications A ON CR.company_recruit_idx = A.company_recruit_idx
WHERE
    CR.COMPANY_USER_IDX = #{company_user_idx}
	
	</select>

	<select id="getCompanyUserData">
	SELECT 
		*
	FROM
		COMPANY_USERS CU
	LEFT JOIN
		COMPANY_IMAGE CI
	ON
		CU.COMPANY_USER_IDX = CI.COMPANY_USER_IDX
	WHERE
		 CU.COMPANY_USER_IDX = #{ company_user_idx }

	</select>
	
	<update id="setUpdateCompanyProfile">
	  
      
    UPDATE COMPANY_USERS
SET
   	  COMPANY_USER_NAME = #{company_user_name}
    , COMPANY_PHONE = #{company_phone}
    , COMPANY_NAME = #{company_name}
    , COMPANY_BCODE = #{company_bcode}
    , COMPANY_BOSS_NAME = #{company_boss_name}
    , COMPANY_EMAIL = #{company_email}
    , COMPANY_USER_EMAIL = #{company_user_email}
    , COMPANY_REGDATE = #{company_regdate}
    , COMPANY_ESTABLISH = #{company_establish}
WHERE
        COMPANY_USER_IDX = #{company_user_idx}
    
	
	</update>


</mapper>
