<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.company.recruit.mapper.CompanyRecruitMapper">  

<select id="getCompanyHomeRecruiteList">
	SELECT 
      *
   FROM 
       COMPANY_RECRUIT CR
   LEFT JOIN (
       SELECT 
           COMPANY_RECRUIT_IDX, 
           LISTAGG(DISTINCT SKILL_NAME, ', ') WITHIN GROUP (ORDER BY SKILL_NAME) AS SKILL_NAME
       FROM 
           COMMON_COMPANY_RECRUIT_SKILL    
  
       GROUP BY COMPANY_RECRUIT_IDX
   ) CCRK ON CCRK.COMPANY_RECRUIT_IDX = CR.COMPANY_RECRUIT_IDX
   JOIN 
       REGION R ON CR.REGION_IDX = R.REGION_IDX

   ORDER BY 
       CR.VIEWS DESC
    
</select>

<select id="getCompanyRecruiteSkillStackList">
	SELECT 
      *
   FROM 
       COMPANY_RECRUIT CR
   LEFT JOIN (
       SELECT 
           COMPANY_RECRUIT_IDX, 
           LISTAGG(DISTINCT SKILL_NAME, ', ') WITHIN GROUP (ORDER BY SKILL_NAME) AS SKILL_NAME
       FROM 
           COMMON_COMPANY_RECRUIT_SKILL    
  
       GROUP BY COMPANY_RECRUIT_IDX
   ) CCRK ON CCRK.COMPANY_RECRUIT_IDX = CR.COMPANY_RECRUIT_IDX
   JOIN 
       REGION R ON CR.REGION_IDX = R.REGION_IDX

   ORDER BY 
       CR.VIEWS DESC
    
</select>

</mapper>