<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.joboffer.message.mapper.JobofferMessageMapper">  

<select id="getJobofferMessageList">
	  SELECT
    JM.JOB_OFFER_MESSAGES_IDX,
    JM.JOB_OFFER_ROOM_IDX,
    JM.USER_IDX,
    JM.COMPANY_USER_IDX,
    JM.MESSAGE_CONTENT,
    JM.USER_STATUS,
    JM.COMPANY_USER_STATUS,
    JM.MESSAGE_CONTENT_JOB_OFFERS_REGDATE,
    (SELECT UI.USER_SFILE_NAME FROM   USER_IMAGE  UI WHERE UI.USER_IDX = JM.USER_IDX ) USER_SFILE_NAME,
    (SELECT CI.COMPANY_SFILE_NAME FROM   COMPANY_IMAGE  CI WHERE CI.COMPANY_USER_IDX = JM.COMPANY_USER_IDX) COMPANY_SFILE_NAME
FROM
    JOBOFFER_MESSAGES  JM
WHERE JM.JOB_OFFER_ROOM_IDX = #{job_offer_room_idx}
ORDER BY 
	JM.MESSAGE_CONTENT_JOB_OFFERS_REGDATE DESC
    

</select>
	
	<insert id="setMessageFrist">
	   INSERT INTO JOBOFFER_MESSAGES (
    JOB_OFFER_MESSAGES_IDX,
    JOB_OFFER_ROOM_IDX,
    USER_IDX,
    COMPANY_USER_IDX,
    MESSAGE_CONTENT
    
) VALUES (
    JOBOFFER_MESSAGES_SEQ.NEXTVAL,
     #{joboffer_room_idx},
    #{user_idx},
    (SELECT COMPANY_USER_IDX FROM COMPANY_RECRUIT WHERE COMPANY_RECRUIT_IDX = #{company_recruit_idx}),
    #{link}
)
	
	</insert>

</mapper>