<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.region.mapper.RegionMapper">  
   
 	<select id="getRegionList">
 		SELECT
 			*
 		FROM
 			REGION
 	</select>
  
  <select id="getCheckedRegionList">
  SELECT
  *
  FROM
  	REGION
  WHERE
  	REGION_IDX IN
   <foreach item="region" index="index" collection="checkedRegionList"
         open="(" separator="," close=")">
           #{ region.region_idx }
         </foreach>
  </select>
  
</mapper>

















