<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.user.resume.intro.mapper.UserResumeIntroMapper">
	<insert id="saveResumeIntro">
	INSERT INTO user_resume_intro (
    user_resume_intro_idx,
    user_resume_intro_title,
    user_resume_intro_content,
    user_resume_idx             ) 
  VALUES (
    USER_RESUME_INTRO_SEQ.NEXTVAL,
    #{user_resume_intro_title},
    #{user_resume_intro_content},
    (SELECT MAX(USER_RESUME_IDX) FROM USER_RESUME))
	</insert>
</mapper>
