<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.user.resume.mapper.UserResumeMapper">  
	<select id="findUser">
		SELECT *
		FROM   USERS
		WHERE  USER_IDX = #{user_idx}
	</select>

</mapper>
